#root {
  background: #B3E5FC;
}

.App {
  background: #B3E5FC;
}

.the-background {
  background: #B3E5FC;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  text-align: center;
}

.App-header {
  background-color: #03A9F4;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  max-width: 1000px; 
  margin:0 auto;
  box-sizing: border-box;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content-area {
  background: #fff;
  max-width: 1000px; 
  margin:0 auto;
  box-sizing: border-box;
  min-height: 450px;
}

.app-list {
  margin: 20px 0;
  border: 1px solid rgba(0,0,0,.125);
}

.footer {
  margin-top: 20px;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: #03A9F4;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
